{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
    <h2 class="article-title">About The Project</h2>
    <hr>
    Created by <b>Shiladitya Gangopadhyay</b>
    <br><b>LinkedIn: </b><a href="https://www.linkedin.com/in/shiladitya-g-428341109/">Shiladitya's LinkedIn Profile</a>
    <br><b>Github: </b><a href="https://github.com/shiladitya357">Shiladitya's Github Profile</a>
    <br><b>E-mail: </b>shiladitya357@gmail.com
    <br><b>Tech Stack:</b>
    <ul>
        <li>Python (Flask)</li>
        <li>HTML, CSS, JS</li>
        <li>Docker</li>
        <li>Hosted on AWS EC2 Instance</li>
    </ul>
    <b>Project Repository: </b><a href="https://github.com/shiladitya357/AlmaBulletin">AlmaBulletin on Github</a>
</div>
{% endblock content %}
